/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    /*-fx-background-color: #6affae;*/
    -fx-background-color: #dc5a5a;
}
.button{
    -fx-cursor: hand;
}
.text-field{
    -fx-focus-color:transparent;
}
#cp .color-label{
    -fx-text-fill: #ffffff00;
}

/****************************************************************
 
  ScrollBar Skin  Vert
 
****************************************************************/
#scrlv2, #scrlv2 .viewport{
    -fx-background-color:transparent;
}
#scrlv2 .scroll-bar{
    /*rgb(96,96,96);*/
 -fx-background-color: transparent;
 -fx-background-radius: 2em;
}
#scrlv2 .scroll-bar:vertical{
    -fx-pref-width: 15px;
}
#scrlv2 .scroll-bar:horizontal .track,
#scrlv2 .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
#scrlv2 .scroll-bar:vertical .track-background,
#scrlv2 .scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
#scrlv2 .scroll-bar:vertical .thumb {
    /*-fx-background-color: #48172c61;*/
    -fx-background-color: #9494948f;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}
#scrlv2 .scroll-bar:horizontal .thumb:hover,
#scrlv2 .scroll-bar:vertical .thumb:hover {
 /*-fx-background-color: #48172c8f;*/
 -fx-background-color: #949494bd;
}
#scrlv2 .scroll-bar:horizontal .thumb:pressed,
#scrlv2 .scroll-bar:vertical .thumb:pressed {
 /*-fx-background-color: #a7ca38; hijau*/
 /*-fx-background-color: #017ccc; biru*/
 -fx-background-color: #949494;
}
#scrlv2 .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
/* -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;*/
 -fx-background-color :transparent;
 -fx-background-radius : 0.0em;
 -fx-padding :0.0 10.0 0.0 0.0;
}
#scrlv2 .scroll-bar:vertical .increment-arrow {
/* -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;*/
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}
#scrlv2 .scroll-bar:vertical .decrement-arrow {
/* -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;*/
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}
#scrlv2 .scroll-bar:vertical:focused,
#scrlv2 .scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}